.idea/

results/

data/ecoli_*
classifier/chimerics.txt

vendor/MUMmer3.23.tar.gz
vendor/mummer-4.0.0rc1.zip
vendor/quast-5.0.2.tar.gz

vendor/quast-5.0.2/

vendor/MUMmer3.23/annotate
vendor/MUMmer3.23/combineMUMs
vendor/MUMmer3.23/delta-filter
vendor/MUMmer3.23/dnadiff
vendor/MUMmer3.23/exact-tandems
vendor/MUMmer3.23/gaps
vendor/MUMmer3.23/mapview
vendor/MUMmer3.23/mgaps
vendor/MUMmer3.23/mummer
vendor/MUMmer3.23/mummerplot
vendor/MUMmer3.23/nucmer
vendor/MUMmer3.23/nucmer2xfig
vendor/MUMmer3.23/promer
vendor/MUMmer3.23/repeat-match
vendor/MUMmer3.23/run-mummer1
vendor/MUMmer3.23/run-mummer3
vendor/MUMmer3.23/show-*
